---
import Layout from "../layouts/Layouts.astro";
import Header from "../Components/Header.astro";
import Abaut from "../Components/Abaut.astro";
import Education from "../Components/Education.astro";
import Experience from "../Components/Experience.astro";
import Skills from "../Components/Skills.astro";
import Footer from "../Components/Footer.astro";

---
<Layout >

	<!-- Header estático -->
    <main class="w-tamañoCuerpo items-center justify-center mx-auto">
        <Header />
        <Abaut />
        <Education />
        <Experience/>
        <Skills/>
        <Footer />
    </main>
</Layout>