---
import "../styles/styles.css";
---

<div id="aboutMe">
  <div class="header-inicio">
    <h1 class="title-2">¡Hola! 👋</h1>
    <div>
      <p class="parrafo mt-6">
        Soy Adrian, un desarrollador Full Stack apasionado por crear
        aplicaciones web completas que combinan funcionalidad con experiencias
        atractivas.
      </p>

      <p class="parrafo mt-6">
        Con 2 años de experiencia, me especializo en el desarrollo de soluciones
        que abarcan desde el diseño de interfaces de usuario hasta la
        implementación de la lógica del servidor y la gestión de bases de datos.
      </p>

      <p class="parrafo mt-6">
        En el frontend, disfruto trabajar con tecnologías como Angular,
        Bootstrap, y Tailwind CSS, transformando ideas en interfaces dinámicas e
        intuitivas. En el backend, domino herramientas como php.js, Java,
        Python, y bases de datos como MySQL y ORACLE, garantizando que la lógica
        y los sistemas de datos sean eficientes y seguros.
      </p>

      <p class="parrafo py-2">Mis fortalezas incluyen:</p>

      <ul class="list-none text-white text-base px-8">
        <li class="mb-3 font-normal flex items-center">
          <span class="mr-2">✨</span> Resolver problemas complejos mediante soluciones
          creativas y prácticas.
        </li>
        <li class="mb-3 font-normal flex items-center">
          <span class="mr-2">✨</span> Promover la escritura de código limpio, estructurado
          y mantenible.
        </li>
        <li class="mb-3 font-normal flex items-center">
          <span class="mr-2">✨</span> Adaptarme rápidamente a nuevas tecnologías
          y metodologías.
        </li>
        <li class="mb-3 font-normal flex items-center">
          <span class="mr-2">✨</span> Una mentalidad curiosa y abierta a buscar
          siempre la mejor solución.
        </li>
      </ul>

      <p class="parrafo mt-6">
        Mi meta es continuar perfeccionando mis habilidades, explorar
        tecnologías emergentes y afrontar desafíos que me impulsen a crecer como
        desarrollador Full Stack. Estoy aquí para construir soluciones que no
        solo funcionen, sino que también dejen una huella.
      </p>

      <hr class="bg-rosa border border-rosa w-full h-1 mt-8" />
      <div class="w-full flex justify-center items-center">
        <a href="https://drive.google.com/file/d/11BV-LqIgIAPSZrjXiVtiWiakGJFHK693/view?usp=sharing" target="_blank" class="button mt-3">
          <span class="text-lg font-extrabold font-sans text-center"
            >Descargar CV</span
          >
          <i class="fas fa-download"></i>
        </a>
      </div>
    </div>
  </div>
</div>
