---
import "../styles/styles.css";

import EducacionInfo from "./EducacionInfo.astro";

const Educacion = [
  {
    date: "Formaci贸n Continua - Autodidacta",
    escuela:
      " Plataformas de Aprendisaje en Linea (Udemy / Cursera / Edetem /etc.)",
    carrera: "Cursos de Tecnologia",
    description:
      "Soy autodidacta y apasionado por el aprendizaje continuo, me esfuerzo por mantenerme a la vanguardia de las 煤ltimas tendencias tecnol贸gicas. Aprovecho diversas plataformas de aprendizaje en l铆nea para enriquecer mis habilidades y conocimientos, lo que me permite estar siempre estar aprediendo nuevas tecnologias y estar preparado para afrontar cualquier desafio.",
    ruta: "img/auto.webp",
    enlace: "#",
  },
  {
    date: "Enero 2024 - Febrero 2024 ",
    escuela: "UNI - Universidad Nacional de Ingenieria",
    carrera: "Fundamentos de Linux",
    description:
      "Curso de Fundamentos de Linux en la Universidad Nacional de Ingenier铆a (UNI), donde aprend铆 los principios clave del sistema operativo Linux. Durante el curso, desarroll茅 habilidades en el uso de la terminal, gesti贸n de archivos, permisos, usuarios y automatizaci贸n de tareas con scripts. Adem谩s, adquir铆 conocimientos sobre procesos, redes y seguridad, fortaleciendo mi capacidad para trabajar en entornos Linux, esenciales en el desarrollo de software y la administraci贸n de servidores.",
    ruta: "img/uni.webp",
    enlace: "https://cursos-ctic.uni.edu.pe/",
  },
  {
    date: "Agosto 2021 - Julio 2024",
    escuela:
      "SENATI - Servicio Nacional de Adiestramiento en Trabajo Industrial",
    carrera: "Ingenieria de Sofware con Inteligencia Artificial",
    description:
      "Soy T茅cnico Titulado en Ingenieria de Sofware con Inteligencia Artificial por SENATI, con una formaci贸n de tres a帽os en la cual adquir铆 s贸lidos conocimientos en an谩lisis, dise帽o e implementaci贸n de soluciones tecnol贸gicas. Durante mi formaci贸n, desarroll茅 habilidades en programaci贸n Full Stack, bases de datos, arquitectura de software y metodolog铆as 谩giles, aplicando tecnolog铆as modernas para la creaci贸n de aplicaciones web y multiplataforma.",
    ruta: "img/senati.webp",
    enlace: "https://www.senati.edu.pe/",
  },
  {
    date: "Septiembre 2022 - Febrero 2023",
    escuela: "Programa ONE (Oracle Next Education) ",
    carrera: "PROGRAMADOR FULL STACK",
    description:
      "Form茅 parte del programa ONE (Oracle Next Education), donde adquir铆 y perfeccion茅 mis habilidades en desarrollo Full Stack. A lo largo de este curso, profundic茅 en las tecnolog铆as m谩s actuales de programaci贸n, tanto en el backend como en el frontend, lo que me permiti贸 fortalecer mis conocimientos y aplicar soluciones integrales en el desarrollo de aplicaciones web completas.",

    ruta: "img/one.webp",
    enlace: "https://www.oracle.com/pe/education/oracle-next-education/",
  },
  {
    date: "Abril 2021 - Julio 2021",
    escuela: "Beca Empleabilidad (Ministerio de Trabajo del Per煤) ",
    carrera: "Programming Essentials in Python (CISCO)",
    description:
      "Fui beneficiario de la Beca Empleabilidad otorgada por el Ministerio de Trabajo del Per煤, lo que marc贸 el inicio de mi carrera profesional en el desarrollo de software. Durante este programa, me introduje al mundo de la programaci贸n con mi primer lenguaje de programaci贸n, Python. ",
    ruta: "img/mtp.webp",
    enlace:
      "https://cdn.www.gob.pe/uploads/document/file/1859700/Preguntas_frecuentes.pdf",
  },
];
---

<div id="education" hidden>
  <div class="header-inicio">
    <h1 class="title-2">Mi Educaci贸n </h1>
    <p class="parrafo">
      A lo largo de mi carrera como desarrollador, he adquirido conocimientos en
      diversas plataformas, cursos e instituciones, los cuales me han permitido
      fortalecer mis habilidades y seguir aprendiendo para avanzar en mi camino
      profesional.
    </p>
    {Educacion.map((educacion) => <EducacionInfo educacion={educacion} />)}
    
  </div>
</div>
