---
import LineExperiencia from "./LineExperiencia.astro";

const JOBS = [
  {
    date: "Febrero 2024 - Presente",
    empresa: "J.R.Z. Ajustadores y Peritos de Seguros SAC ",
    puesto: "Analista - Programador",
    description:
      "Desarroll茅 y dise帽茅 un sistema que abarc贸 todas las etapas del proceso, desde la identificaci贸n de requisitos hasta su implementaci贸n exitosa. Este sistema permiti贸 la digitalizaci贸n de formatos f铆sicos, impulsando la innovaci贸n dentro de la empresa, Utilizando tecnolog铆a para automatizar procesos internos y mejorar la eficiencia operativa. ",
    ruta:"img/JRZ.webp",
    enlace: "https://www.linkedin.com/company/jrz-ajustadores-y-peritos-de-seguros-sac/posts/?feedView=all"
  },
  {
    date: "Diciembre 2022 - Diciembre 2023",
    empresa: "Neon Hause Led",
    puesto: "Programador Full Stack",
    description:
      "Contribu铆 al desarrollo de un sistema de escritorio de asistencia para la empresa, trabajando en conjunto con el equipo de programadores. Tambi茅n, particip茅 activamente en la mejora y el mantenimiento de los sitios web, optimizando tanto la eficiencia de los sistemas como la experiencia del usuario. ",
    ruta:"img/NHL.webp",
    enlace: "https://nhldecoracioncomercial.com/"
  },
];
---

<div id="experience" hidden>
  <div class="header-inicio">
    <h1 class="title-2">Mi experiencia .</h1>
    <p class="parrafo">
      Soy desarrollador Full Stack con m谩s de dos a帽os de experiencia en el dise帽o e implementaci贸n de soluciones tecnol贸gicas. Adem谩s, cuento con experiencia en metodolog铆as 谩giles, garantizando una gesti贸n efectiva de proyectos y una colaboraci贸n eficiente en equipos de desarrollo.
    </p>
    <div class="px-3">
    <ol class="relative border-s border-gray-200 dark:border-gray-700 p-3 m-3">
      {JOBS.map((job) => <LineExperiencia job={job} />)}
    </ol>
  </div>
  </div>
</div>

<ol class="relative border-s border-gray-200 dark:border-gray-700">                  

</ol>

